<article>
  <% if(page.title) { %>
  <h1><%= page.title %></h1>
  <% } %>
  <div><%- page.content %></div>
</article>
<% if(page.sharing) { %>
  <%- partial('_partial/post/sharing') %>
<% } %>
<% if(site.disqus_short_name && page.comments) { %>
<section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">
      <%- partial('_partial/post/disqus_thread.html')%>
    </div>
</section>
<% } %>
