
<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive) title = __('archive_a');
%>

<div itemscope itemtype="http://schema.org/Blog">
  <% var year = '';
     page.posts.each(function(item){ %>
    <% var post_year = moment(item.date).year() %>
    <% if (!(post_year == year)) {
       year = post_year;
       show = true; %>
    <section><h1><%= year %></h1>
    <% } %>
    <% var post_year = moment(item.date).year();
       var show = false; %>

       <%- partial('_partial/result', {item: item}) %>

    <% if (show) { %>
    </section>
    <% show = false; %>
    <% } %>
  <% }); %>
</div>
