<noscript>Please enable JavaScript to view the
  <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>

<a href="http://disqus.com">comments powered by <span>Disqus</span></a>
